GEMINI_API_KEY=AQ.Ab8RN6KJbLbFoSKMYmJPl6IElkJ2HRMzojjERyU9tEnoOre-iw

APP_DOMAIN=learnukhba.com

ADMIN_EMAILS=officialhunter2007@gmail.com

GOOGLE_CLIENT_ID=873806717217-6858lsjej4gaio28m1tdi5ptq95dpppt.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=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

UNLIMITED_ACCESS_EMAILS=socanalyst38@gmail.com

LOG_LEVEL=info

DATABASE_URL=postgresql://neondb_owner:npg_Gg5alJR9vVNI@ep-winter-field-anj6nk6q.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

SESSION_SECRET=68a31e63479c9e3d58a01690145aa089e8f9bca01ca25aef516d6b031b25498dff95f144f09c26a6678613206287717f14c4a03e3a944046fad6b35312245ed4

AI_INTEGRATIONS_OPENAI_BASE_URL=https://openrouter.ai/api/v1

AI_INTEGRATIONS_OPENAI_API_KEY=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

AI_INTEGRATIONS_ANTHROPIC_BASE_URL=https://openrouter.ai/api/v1

AI_INTEGRATIONS_ANTHROPIC_API_KEY=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

