modules = ["nodejs-24", "python-3.12", "java-graalvm22.3", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["sh", "-c", "pnpm install && pnpm run build:deploy"]
run = ["sh", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "873806717217-6858lsjej4gaio28m1tdi5ptq95dpppt.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"

[userenv.production]
APP_DOMAIN = "learnukhba.replit.app"
